@using risersoft.app.mxform.crm
@using risersoft.shared.web.Extensions

@model frmCallModel
@{
    ViewData["Title"] = "Call";
    Layout = "~/Views/Shared/_FrameworkLayout.vbhtml";
    var modelJson = Model.SerializeJson();
}

<link href="~/Scripts/jquery-ui/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/Content/jQueryUI-datetimepicker.js"></script>
<link href="~/Content/component-chosen.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.6/chosen.jquery.min.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />

<style type="text/css">
    .ui-datepicker {
        z-index: 99 !important;
    }

    .input-group-addon {
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        /*border-radius: 0.25rem 0rem 0rem 0.25rem;*/
        border-radius: 0.25rem;
    }


    .panel-heading {
        background-color: #1b7cd0;
        height: 40px;
    }

    .panel-body {
        margin-top: 20px;
    }

    .panel-title a {
        color: #fff !important;
    }

    .panel-heading {
        padding: 0;
        border: 0;
        display: block;
        padding: 7px 15px 7px 0px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 3px;
        text-decoration: none;
    }

        .panel-heading a:before {
            font-family: 'Glyphicons Halflings';
            content: "\e114";
            float: right;
            transition: all 0.5s;
            margin-right: 10px;
        }

        .panel-heading.active a:before {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            transform: rotate(180deg);
        }

    .customdiv {
        width: 100%;
    }

    .form-control {
        margin-bottom: 10px !important;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    label {
        margin-bottom: 0.1rem;
    }

    li {
        list-style: none;
    }

    select, textarea, input {
        max-width: initial;
    }

    #dialogFilterUser {
        display: none;
    }

    #dialogfilterTeam, #dialogCustomer, #myModel {
        display: none;
    }

    .custom-group-button {
        background-color: rgba(212, 212, 212, 0.38);
        border: 1px solid rgba(111, 105, 105, 0.38);
    }
</style>

<div class="container cbackground">
    <!--Added multipart/form-data for attachments-->

    <form action="" method="post" name="userform" ng-controller="FormController" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <input type="hidden" id="model_json" value='@Html.Raw(modelJson)' />
        <div Class="form-horizontal">
            <div class="container" style="padding-top: 15px;padding-bottom: 15px;">
                <div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11" style="padding-left:0px;">
                            <h4 style="color:#1c66a7">Call</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:20px;">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="Call.PIDFieldSelected" ng-options="pi.DataValue for pi in Pid.ValueListItems track by pi.DataValue" disabled> </select>
                                </div>
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="Call.PIDValueSelected" disabled ng-options="item.IDInfo for item in dsCombo.Parent track by item.IDValue"> </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="control-label labeltext">Subject<span style="color:red">*</span></label>
                                    <input type="text" class="form-control" ng-model="Call.Name" name="Subject" required ng-class="{true:'error'}[submitted()&&userform.Subject.$invalid]" />
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label labeltext">Date And Time<span style="color:red">*</span></label>
                                    <input type="text" id="sdate" class="form-control my-datepicker" ng-model="Call.SDate" name="SDate" required ng-class="{true:'error'}[submitted()&&userform.SDate.$invalid]" />
                                    @*<label class="input-group-addon btn" for="date" style="position: absolute; margin-left: 240px; z-index:9">
                                            <span class="fa fa-calendar  open-datetimepicker"></span>
                                        </label>*@
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label labeltext">Status <span style="color:red">*</span> </label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select class="form-control" ng-model="Call.DirectionSelected" ng-options="item.descriptot for item in dsCombo.Direction track by item.codeword"></select>
                                        </div>
                                        <div class="col-md-6">
                                            <select class="form-control" ng-model="Call.StatusSelected" ng-options="item.DisplayText for item in ValueLists.Status.ValueListItems track by item.DataValue"></select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-9">
                                    <label class="control-label labeltext">Duration</label>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="text" placeholder="Hours" class="form-control" ng-model="Call.DurationHours" name="DHours" required ng-class="{true:'error'}[submitted()&&userform.DHours.$invalid]" />
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" placeholder="Minutes" class="input-group-addon" ng-model="Call.DurationMinutes" style="width: 37%;" /> (Hours/Minutes)
                                            <label class="input-group-addon" style="border:none;background:transparent;width:34%;"> <input type="checkbox" ng-model="Call.AllDayEvent" style="width:20%" />All Day</label>

                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <label class="control-label labeltext">Description</label>
                                    <input type="text" class="form-control" ng-model="Call.Description" />
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!--Reminder-->
            <div class="row">
                <div class="customdiv">
                    <div class="panel panel-default" id="accordion2" role="tablist" aria-multiselectable="true">
                        <div class="panel-heading active" role="tab" id="heading2">
                            <div class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11" style="padding-left:25px;">Reminder</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label class="control-label labeltext">Reminder <input type="checkbox" ng-model="check" ng-checked="true" /> </label>
                                                    <select class="form-control" ng-if="check" ng-model="Call.ReminderTimeSelected" ng-options="item.DisplayText for item in ValueLists.ReminderTime.ValueListItems track by item.DataValue"></select>

                                                </div>
                                                <div class="col-md-4">
                                                    <label class="control-panel labeltext">Email Reminder Time</label>
                                                    <select class="form-control" ng-model="Call.EMAILReminderTimeSelected" ng-options="item.DisplayText for item in ValueLists.ReminderTime.ValueListItems track by item.DataValue"></select>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="control-panel labeltext">SMS Reminder Time</label>
                                                    <select class="form-control" ng-model="Call.SMSReminderTimeSelected" ng-options="item.DisplayText for item in ValueLists.ReminderTime.ValueListItems track by item.DataValue"></select>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"><hr /></div>
                </div>
            </div>

            <!--Recurrence-->
            <div class="row">
                <div class="customdiv">
                    <div class="panel panel-default" id="accordion3" role="tablist" aria-multiselectable="true">
                        <div class="panel-heading active" role="tab" id="heading3">
                            <div class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11" style="padding-left:25px;">Recurrence</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="heading3">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label class="control-label labeltext">Repeat Type</label>
                                                    <select class="form-control" ng-model="Call.RepeatTypeSelected" ng-options="item.DisplayText for item in ValueLists.RepeatType.ValueListItems track by item.DataValue"></select>

                                                </div>
                                                <div class="col-md-4">
                                                    <label class="control-panel labeltext">Repeat Until</label>
                                                    <input type="text" class="form-control my-datepicker" ng-model="Call.RepeatUntil" />
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="control-panel labeltext">Interval</label>
                                                    <input type="text" class="form-control" ng-model="Call.RepeatInterval" />
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label class="control-panel labeltext" style="width:100%">End After</label>
                                                    <input type="text" class="input-group-addon" ng-model="Call.RepeatCount" style="width:74%" /> Occurence
                                                </div>
                                                <div class="col-md-8" style="margin-bottom:40px;">

                                                    <label class="control-label labeltext">Days of the Week</label><br />
                                                    <select id="multiple" name="weekday" ng-model="RepeatDow" Class="form-control form-control-chosen" ng-options="week.name for week in WeekOptions track by week.id" data-placeholder="Please select..." multiple></select>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"><hr /></div>
            </div>

            <!--Assignment-->
            <div class="row">
                <div class="customdiv">
                    <div class="panel panel-default" id="accordion2" role="tablist" aria-multiselectable="true">
                        <div class="panel-heading active" role="tab" id="heading2">
                            <div class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11" style="padding-left:25px;">Assignment</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">
                                            <input type="radio" ng-model="Selectedassig" name="rdoassin" value="User" checked /> User
                                        </div>
                                        <div class="col-md-2">
                                            <input type="radio" ng-model="Selectedassig" name="rdoassin" value="Team" /> Team
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-sm-10" ng-show="Selectedassig=='User'">
                                            <label class="control-label labeltext">User :</label><br />
                                            <select id="multiple" name="CallTemp_mul" @*ng-change="clearfields(Call.AssignUserIDSelected,'user')"*@ ng-model="Call.AssignUserIDSelected" class="form-control form-control-chosen" ng-options="item.UserName for item in dsCombo.User track by item.UserID" data-placeholder="Please select..." multiple></select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-sm-10" ng-show="Selectedassig=='Team'">
                                            <label class="control-label labeltext">Team :</label><br />
                                            <select id="single" name="CallTemp_mul" @*ng-change="clearfields(Call.AssignTeamIDSelected,'team')"*@ ng-model="Call.AssignTeamIDSelected" class="form-control form-control-chosen" ng-options="item.Name for item in dsCombo.Team track by item.TeamID" data-placeholder="Please select..."></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"><hr /></div>
                </div>
            </div>

            <!--Button Div-->
            <div class="row"><hr /></div>

            <div class="row">
                @Html.Partial("_SavePanel")
            </div>
        </div>

        <div id="dialogCustomer">
        </div>
        <!-- Modal -->
    </form>

</div>


@section botscripts{
    <script type="text/javascript">
        $('.panel-collapse').on('show.bs.collapse', function () {
            $(this).siblings('.panel-heading').addClass('active');
        });

        $('.panel-collapse').on('hide.bs.collapse', function () {
            $(this).siblings('.panel-heading').removeClass('active');
        });

        $(document).ready(function () {
            setInterval(function () {
                $(".my-datepicker").removeClass("my-datepicker").each(function () {
                    $(this).datetimepicker()
                });
            }, 10);

            $('.form-control-chosen').chosen({
                // Chosen options here
                allow_single_deselect: false,
                width: '100%'
            });
        });


        rsApp.controller('FormController', function ($scope, $http) {
            $scope.model = JSON.parse($("#model_json").val());
            $scope.status = 'loaded';
            $scope.check = true;
            var loadmodel = function (result) {

                $scope.model = result;
                $scope.Call= $scope.model.dsForm.DT[0];
                $scope.ValueLists = $scope.model.ValueLists;
                $scope.Pid = $scope.model.ValueLists.PIDField;
                $scope.WeekOptions = [{ id: '1', name: 'Monday' }, { id: '2', name: 'Tuesday' }, { id: '3', name: 'Wednesday' }, { id: '4', name: 'Thursday' }, { id: '5', name: 'Friday' }, { id: '6', name: 'Saturday' }, { id: '7', name: 'Sunday' }];
               // debugger;
                $scope.dsCombo = $scope.model.dsCombo;
                $scope.visdel = ($scope.frmMode == 2 ? false : true);

                $scope.GenerateDelPayload = function () {
                    var payload = { EntityKey: 'Call', ID: $scope.model.dsForm.DT[0].CallID, AcceptWarning: false };
                    return payload;
                };

                 @Html.RenderLookup("Call", Model, Model.dsForm.Tables[0])

                //debugger;
                $scope.Call.PIDFieldSelected = $.grep($scope.Pid.ValueListItems, function (item, index) { return item.DataValue == $scope.model.dsForm.DT[0].PIDField })[0];
                $scope.Call.PIDValueSelected = $.grep($scope.dsCombo.Parent, function (item, index) { return item.IDValue == $scope.model.dsForm.DT[0].PIDValue })[0];

                $scope.Call.RepeatTypeSelected = $.grep($scope.ValueLists.RepeatType.ValueListItems, function (item, index) { return item.DataValue == $scope.model.dsForm.DT[0].RepeatType })[0];
                $scope.Call.SMSReminderTimeSelected = $.grep($scope.ValueLists.ReminderTime.ValueListItems,function (item, index) { return item.DataValue == $scope.model.dsForm.DT[0].SMSReminderTime })[0];
                $scope.Call.EMAILReminderTimeSelected = $.grep($scope.ValueLists.ReminderTime.ValueListItems,function (item, index) { return item.DataValue == $scope.model.dsForm.DT[0].EMAILReminderTime })[0];
                if ($scope.model.dsForm.DT[0].ReminderTime !== '' || $scope.model.dsForm.DT[0].ReminderTime !== undefined) {
                    $scope.check = true;
                    $scope.Call.ReminderTimeSelected = $.grep($scope.ValueLists.ReminderTime.ValueListItems, function (item, index) { return item.DataValue == $scope.model.dsForm.DT[0].ReminderTime })[0];

                }
                else {
                    $scope.check = false;
                }

               // debugger
                if ($scope.model.dsForm.DT[0].RepeatDow != undefined) {
                   // debugger;
                    var dd = $scope.model.dsForm.DT[0].RepeatDow.split(',');
                    var count = dd.length;
                    var RepeatArray = new Array(count);
                    for (var i = 0; i < dd.length; i++) {
                        RepeatArray[i] = $.grep($scope.WeekOptions, function (item, index) { return item.name ===dd[i] })[0];
                    }
                    $scope.RepeatDow = RepeatArray;
                    // $scope.RepeatDow = $.grep($scope.WeekOptions, function (item, index) { return item.name === $scope.model.dsForm.DT[0].RepeatDow.split(',')[index] });
                }

             // Single And Multiple select-------
                if (Array.isArray($scope.model.GridViews.Team.MainGrid.myDS.dt) && $scope.model.GridViews.Team.MainGrid.myDS.dt.length)
                {
                    $scope.Call.AssignUserIDSelected = $scope.model.GridViews.Team.MainGrid.myDS.dt;

                }
                else {
                    //Selected Assigend User in Edit Mode
                    $scope.Call.AssignUserIDSelected = [$scope.Call.AssignUserIDSelected];
                }
                $scope.Call.AssignTeamIDSelected = [$scope.Call.AssignTeamIDSelected];
            }

            loadmodel($scope.model)


            $scope.clearfields = function (key) {
               // debugger;
                if (key == 'Team') {
                  //  debugger;
                    $scope.Call.AssignUserIDSelected = [];
                    $('#multiple').val([]);
                    $('#multiple').trigger('chosen:updated');
                    $scope.model.dsForm.DT[0].AssignTeamID = $scope.Call.AssignTeamIDSelected.TeamID;
                   // debugger;
                    $scope.model.GridViews.Team.MainGrid.myDS.dt = [];
                    $scope.model.dsForm.DT[0].AssignUserSetID = null
                    $scope.model.dsForm.DT[0].AssignUserID = null
                }
                if (key == 'User') {
                    $scope.Call.AssignTeamIDSelected = null;
                    $('#single').val([]);
                    $('#single').trigger('chosen:updated');
                    if ($scope.Call.AssignUserIDSelected != null && $scope.Call.AssignUserIDSelected != undefined) {
                        var auLength = $scope.Call.AssignUserIDSelected.length;
                        if (auLength > 1) {
                            $scope.model.GridViews.Team.MainGrid.myDS.dt = [];
                            for (var i = 0; i < $scope.Call.AssignUserIDSelected.length; i++) {
                              //  debugger;

                                $scope.model.GridViews.Team.MainGrid.myDS.dt.push({ UserID: $scope.Call.AssignUserIDSelected[i].UserID, UserName: $scope.Call.AssignUserIDSelected[i].UserName });

                            }

                            $scope.model.dsForm.DT[0].AssignUserID = null;
                            $scope.model.dsForm.DT[0].AssignTeamID = null;
                        }
                        else {
                            // debugger;
                            $scope.model.dsForm.DT[0].AssignUserID = $scope.Call.AssignUserIDSelected[0].UserID;
                            $scope.model.GridViews.Team.MainGrid.myDS.dt = [];
                            $scope.model.dsForm.DT[0].AssignUserSetID = null
                            $scope.model.dsForm.DT[0].AssignTeamID = null;

                        }
                    }
                }
            }

            $scope.cleanupmodel = function (datamodel) { };

            $scope.calculatemodel = function () {
                var key = $scope.Selectedassig;
                $scope.clearfields(key);
                var weekdays = '';
                for (var i = 0; i < $scope.RepeatDow.length; i++) {
                    if (weekdays == '') {
                        weekdays = $scope.RepeatDow[i].name;
                    }
                    else {
                        weekdays = weekdays + "," + $scope.RepeatDow[i].name;
                    }
                }
                $scope.Call.RepeatDowSelected = weekdays;
            };

            @Html.RenderFile("~/scripts/rsforms.js");
        });
    </script>
}






