@using risersoft.app.mxform
@using risersoft.shared.web.Extensions

@model frmGenPersonModel
@{
    ViewData["Title"] = "frmGenPerson";
    Layout = "~/Views/Shared/_FrameworkLayout.vbhtml";
    var modelJson = Model.SerializeJson();
}

<link href="~/Scripts/jquery-ui/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>

<style type="text/css">
    .panel-heading {
        background-color: #1b7cd0;
        height: 40px;
    }

    .panel-body {
        margin-top: 20px;
    }

    .panel-title a {
        color: #fff !important;
    }

    .panel-heading {
        padding: 0;
        border: 0;
        display: block;
        padding: 7px 15px 7px 0px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 3px;
        text-decoration: none;
    }

        .panel-heading a:before {
            font-family: 'Glyphicons Halflings';
            content: "\e114";
            float: right;
            transition: all 0.5s;
            margin-right: 10px;
        }

        .panel-heading.active a:before {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            transform: rotate(180deg);
        }

    #btntender {
        width: 19%;
        float: right;
        margin-right: 6px;
        background-color: rgba(212, 212, 212, 0.38);
        border: 1px solid rgba(111, 105, 105, 0.38);
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }


    .customdiv {
        width: 100%;
    }

    .table-responsive {
        display: inline-table;
    }

    .custominline {
        display: inline-block;
        width: 21%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        margin-bottom: 10px;
    }

    .form-control {
        margin-bottom: 10px !important;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .input-group-addon {
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.2rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }

    input, select, textarea {
        max-width: 540px;
    }

    label {
        margin-bottom: 0.1rem;
    }
</style>

<!--Canmpus Form-->
<div class="container cbackground">
    <form action="" method="post" name="userform" ng-controller="FormController">

        @Html.AntiForgeryToken()
        <input type="hidden" id="model_json" value='@Html.Raw(modelJson)' />
        <div Class="form-horizontal">
            <div class="container" style="padding-top: 15px;padding-bottom: 15px;">
                <div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11" style="padding-left:0px;">
                            <h4 style="color:#1c66a7">Customer Person</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="control-label labeltext">Sal</label>
                                    <input type="text" class="form-control" ng-model="per.Salutation" />

                                </div>
                                <div class="col-md-3">
                                    <label class="control-label labeltext">First Name</label>
                                    <input type="text" class="form-control" ng-model="per.FirstName" />

                                </div>
                                <div class="col-md-3">
                                    <label class="control-label labeltext">Mid Name</label>
                                    <input type="text" class="form-control" ng-model="per.MidName" />

                                </div>

                                <div class="col-md-3">
                                    <label class="control-label labeltext">Last Name</label>
                                    <input type="text" class="form-control" ng-model="per.LastName" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:20px">
                        <div class="col-md-1"></div>
                        <div class="col-md-11">
                            <a href="" class="btn btn-default" style="background-color:rgba(212, 212, 212, 0.38);border:1px solid rgba(111, 105, 105, 0.38);" ng-click="Addrow('PersonParty')">Add Person Party</a>
                        </div>
                    </div>

                    <div ng-repeat="rows in PersonParty">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="control-label labeltext">Party</label>
                                        <select class="form-control" ng-model="rows.PartyIDSelected" ng-options="Party.Partyname for Party in dsCombo.Par track by Party.PartyID" style="max-width:540px;"></select>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label labeltext">Designation</label>
                                        <input type="text" class="form-control" ng-model="rows.Designation" style="max-width:540px;" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label labeltext">Project</label>
                                        <input type="text" ng-model="rows.Project" class="form-control" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label labeltext">Join Date</label>
                                        <input type="text" style="max-width:540px" ng-model="rows.JoinDate" class="form-control my-datepicker" />
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="control-label labeltext">Leave Date</label>
                                        <input type="text" style="max-width:540px" ng-model="rows.LeaveDate" class="form-control my-datepicker" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label labeltext" style="width:100%;visibility:hidden;">IsCurrent</label>
                                        <label class="input-group-addon" style="border:none;background:transparent"><input type="checkbox" ng-model="rows.isCurrent" />IsCurrent</label>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label labeltext">ReasonLeft</label>
                                        <input type="text" style="max-width:540px" ng-model="rows.ReasonLeft" class="form-control " />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label labeltext">Remark</label>
                                        <input type="text" ng-model="rows.Remarks" class="form-control" style="max-width:540px;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"><hr /></div>
            <!--Address Panel-->
            <div class="row">
                <div class="customdiv">
                    <div class="panel panel-default" id="accordion1" role="tablist" aria-multiselectable="true">
                        <!--panel header-->
                        <div class="panel-heading active" role="tab" id="headingOne">
                            <div class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11" style="padding-left:25px;"> Address</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--Panel Body-->
                        <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div Class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class="control-label labeltext">Office Ph No.</label>
                                                    <label>
                                                        <input type="text" ng-model="per.OfficeCountry" class="input-group-addon" style="width:20%;" />
                                                        <input type="text" ng-model="per.OfficeArea" class="input-group-addon" style="width:20%" />
                                                        <input type="text" ng-model="per.OfficePhone" class="input-group-addon" style="width:56%" />

                                                    </label>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label labeltext">Mobile</label>
                                                    <input type="text" ng-model="per.CellNum" class="form-control" />
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label labeltext">Email</label>
                                                    <input type="text" ng-model="per.Email" class="form-control" />

                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label labeltext">Home Page</label>
                                                    <input type="text" ng-model="per.Web" class="form-control" />

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div Class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="col-md-12" style="border-bottom:1px solid #a9a9a9"><label style="margin-bottom:0px;color:#8c8787">Present Address</label></div>
                                            </div>
                                            <div class="row" style="margin-top:10px;">
                                                <div class="col-md-5">
                                                    <label class="control-label labeltext">Address <span class="red">*</span></label>
                                                    <textarea name="cadd" style="height:187px;resize:none;max-width:540px;" ng-model="per.PrAddress" class="form-control" required ng-class="{true: 'error'}[submitted() && userform.cadd.$invalid]"></textarea>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <Label Class="control-label labeltext">PinCode <span class="red">*</span></Label>
                                                            <input name="pincode" type="text" numbers-only ng-model="per.PrPinCode" maxlength="6" class="form-control" required ng-class="{true: 'error'}[submitted() && userform.pincode.$invalid]" />
                                                        </div>
                                                        <div Class="col-md-6">
                                                            <Label Class="control-label labeltext">Country <span class="red">*</span></Label>
                                                            <select name="country" ng-model="per.PrCountrySelected" ng-options="itemcoun.country for itemcoun in dsCombo.CO track by itemcoun.country" ng-change="prchangestate(per.PrCountrySelected)" Class="form-control" required ng-class="{true: 'error'}[submitted() && userform.country.$invalid]"></select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <Label Class="control-label labeltext">State <span class="red">*</span></Label>
                                                            <select name="state" ng-model="per.PrStateSelected" ng-options="itemsu.SubDivisionName for itemsu in prState track by itemsu.SubDivisionName" Class="form-control" required ng-class="{true: 'error'}[submitted() && userform.state.$invalid]"></select>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <Label Class="control-label labeltext">City </Label>
                                                            <input name="city" type="text" ng-model="per.PrCity" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label class="control-label labeltext">Ph No.</label>
                                                            <label>
                                                                <input type="text" ng-model="per.PrPhCountry" class="input-group-addon" style="width:20%;" />
                                                                <input type="text" ng-model="per.PrPhArea" class="input-group-addon" style="width:20%" />
                                                                <input type="text" ng-model="per.PrPhone" class="input-group-addon" style="width:56%" />

                                                            </label>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div Class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="col-md-12" style="border-bottom:1px solid #a9a9a9"><label style="margin-bottom:0px;color:#8c8787">Permanent Address</label></div>
                                            </div>
                                            <div class="row" style="margin-top:10px;">
                                                <div class="col-md-5">
                                                    <label class="control-label labeltext">Address <span class="red">*</span></label>
                                                    <textarea name="cadd" style="height:187px;resize:none;max-width:540px;" ng-model="per.PmAddress" class="form-control" required ng-class="{true: 'error'}[submitted() && userform.cadd.$invalid]"></textarea>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <Label Class="control-label labeltext">PinCode <span class="red">*</span></Label>
                                                            <input name="pincode" type="text" numbers-only ng-model="per.PmPinCode" maxlength="6" class="form-control" required ng-class="{true: 'error'}[submitted() && userform.pincode.$invalid]" />
                                                        </div>
                                                        <div Class="col-md-6">
                                                            <Label Class="control-label labeltext">Country <span class="red">*</span></Label>
                                                            <select name="country" ng-model="per.PmCountrySelected" ng-options="itemcoun.country for itemcoun in dsCombo.CO track by itemcoun.country" ng-change="pmchangestate(per.PmCountrySelected)" Class="form-control" required ng-class="{true: 'error'}[submitted() && userform.country.$invalid]"></select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <Label Class="control-label labeltext">State <span class="red">*</span></Label>
                                                            <select name="state" ng-model="per.PmStateSelected" ng-options="itemsu.SubDivisionName for itemsu in pmState track by itemsu.SubDivisionName" Class="form-control" required ng-class="{true: 'error'}[submitted() && userform.state.$invalid]"></select>
                                                        </div>
                                                        <div class="col-md-6">

                                                            <Label Class="control-label labeltext">City </Label>
                                                            <input name="city" type="text" ng-model="per.PmCity" class="form-control" />

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label class="control-label labeltext">Ph No.</label>
                                                            <label>
                                                                <input type="text" ng-model="per.PmPhCountry" class="input-group-addon" style="width:20%;" />
                                                                <input type="text" ng-model="per.PmPhArea" class="input-group-addon" style="width:20%" />
                                                                <input type="text" ng-model="per.PmPhone" class="input-group-addon" style="width:56%" />

                                                            </label>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"><hr /></div>
                </div>
            </div>

            <!--Info Panel-->
            <div class="row">
                <div class="customdiv">
                    <div class="panel panel-default" id="accordion2" role="tablist" aria-multiselectable="true">
                        <div class="panel-heading active" role="tab" id="heading2">
                            <div class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11" style="padding-left:25px;"> Info </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                        <div id="collapse2" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class="control-label labeltext">Gender</label>
                                                    <select class="form-control" ng-model="per.Gender">
                                                        <option value="Female">Female</option>
                                                        <option value="Male">Male</option>

                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label labeltext">Marital Status</label>
                                                    <select class="form-control" ng-model="per.MarStatus">
                                                        <option value="Married">Married</option>
                                                        <option value="Unmarried">Unmarried</option>
                                                        <option value="Widowed">Widowed</option>
                                                        <option value="Divorced">Divorced</option>
                                                        <option value="Seperated">Seperated</option>
                                                    </select>
                                                </div>

                                                <div class="col-md-3">
                                                    <label class="control-label labeltext">Birthday</label>
                                                    <input type="text" class="form-control my-datepicker" ng-model="per.Birthday" />
                                                </div>

                                                <div class="col-md-3">
                                                    <label class="control-label labeltext">Anniversary</label>
                                                    <input type="text" class="form-control my-datepicker" ng-model="per.Anniversary" />

                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class="control-label labeltext">Education</label>
                                                    <input type="text" class="form-control" ng-model="per.Education" />

                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label labeltext">Profile</label>
                                                    <input type="text" class="form-control" ng-model="per.Profile" />

                                                </div>

                                                <div class="col-md-3">
                                                    <label class="control-label labeltext">Remark</label>
                                                    <input type="text" class="form-control" ng-model="per.Remark" />
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"><hr /></div>
                </div>
            </div>

            <!--Education Panel-->
            <div class="row">
                <div class="customdiv">
                    <div class="panel panel-default" id="accordion3" role="tablist" aria-multiselectable="true">
                        <!--panel header-->
                        <div class="panel-heading active" role="tab" id="heading3">
                            <div class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11" style="padding-left:25px;"> Education</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--Panel Body-->
                        <div id="collapse3" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="heading3">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-11">
                                            <a href="" class="btn btn-default" style="background-color:rgba(212, 212, 212, 0.38);border:1px solid rgba(111, 105, 105, 0.38);" ng-click="Addrow('Education')">Add Details</a>
                                        </div>
                                    </div>
                                    <div ng-repeat="rows in Education">

                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-3">
                                                <label class="control-label labeltext">Qualification</label>
                                                <input type="text" class="form-control" ng-model="rows.Qualification" style="max-width:540px;" />

                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label labeltext">Institution</label>
                                                <input type="text" class="form-control" ng-model="rows.Institution" style="max-width:540px;" />
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label labeltext">Year Qual</label>
                                                <input type="text" ng-model="rows.Qualyear" class="form-control" />
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label labeltext">Marks</label>
                                                <input type="text" style="max-width:540px" ng-model="rows.Marks" class="form-control" />
                                            </div>
                                            <div class="col-md-1">
                                                <a href="" style="z-index:35;position:relative;margin-top:38px;float:left;" ng-click="delete($index,'Education')"><span class="fa fa-trash" style="color: #d83e3b;"></span></a>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"><hr /></div>
                </div>
            </div>

            <!--Family Panel-->
            <div class="row">
                <div class="customdiv">
                    <div class="panel panel-default" id="accordion4" role="tablist" aria-multiselectable="true">
                        <!--panel header-->
                        <div class="panel-heading active" role="tab" id="heading4">
                            <div class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11" style="padding-left:25px;"> Family</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--Panel Body-->
                        <div id="collapse4" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="heading4">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-11">
                                            <a href="" class="btn btn-default" style="background-color:rgba(212, 212, 212, 0.38);border:1px solid rgba(111, 105, 105, 0.38);" ng-click="Addrow('Family')">Add Family</a>
                                        </div>
                                    </div>
                                    <div ng-repeat="rows in Family">

                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-3">
                                                <label class="control-label labeltext">Member Name</label>
                                                <input type="text" class="form-control" ng-model="rows.MemberName" style="max-width:540px;" />
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label labeltext">Relation</label>
                                                <input type="text" class="form-control" ng-model="rows.Relation" style="max-width:540px;" />
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label labeltext">BDate</label>
                                                <input type="text" ng-model="rows.BDate" class="form-control my-datepicker" />
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label labeltext">Profession</label>
                                                <input type="text" style="max-width:540px" ng-model="rows.Profession" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-3">
                                                <label class="control-label labeltext">Other</label>
                                                <input type="text" class="form-control" ng-model="rows.Other" />
                                            </div>
                                            <div class="col-md-1">
                                                <a href="" style="z-index:35;position:relative;margin-top:38px;float:left;" ng-click="delete($index,'Education')"><span class="fa fa-trash" style="color: #d83e3b;"></span></a>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"><hr /></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button type="button" ng-show="model.vBag.prospectlistid" id="btnbacktoProspectlist" ng-click="backtoprev()" style="margin-bottom: 16px; color: #fff;background: #50a74f !important;border-color: #0c940b !important;" Class="btn btn-primary btnf">Go To Prospect List</button>
                </div>
                <div class="col-md-9">
                    @Html.Partial("_SavePanel")
                </div>
            </div>
            @*@Html.Partial("_SavePanel")*@
        </div>

    </form>


</div>

@section botscripts{

    <script>
        $('.panel-collapse').on('show.bs.collapse', function () {
            $(this).siblings('.panel-heading').addClass('active');
        });

        $('.panel-collapse').on('hide.bs.collapse', function () {
            $(this).siblings('.panel-heading').removeClass('active');
        });
    </script>

    <script type="text/javascript">

        $(document).ready(function () {
            setInterval(function () {
                $(".my-datepicker").removeClass("my-datepicker").each(function () {
                    $(this).datepicker({ dateFormat: 'yy-mm-dd' });
                });
            }, 10);

        });


        rsApp.controller('FormController', function ($scope, $http) {
            $scope.model = JSON.parse($("#model_json").val());
            $scope.status = 'loaded';
            $scope.ShowAddMore = ($scope.model.frmMode == 2);

            var loadmodel = function (result) {
                $scope.model = result;
                $scope.per = $scope.model.dsForm.DT[0];
                $scope.dsCombo = $scope.model.dsCombo;
                // debugger;
                // $scope.Division = $scope.model.dsCombo.Division;
                $scope.ValueLists = $scope.model.ValueLists;
                $scope.Education = $scope.model.GridViews.Edu.MainGrid.myDS.dt;
                $scope.Family = $scope.model.GridViews.Fam.MainGrid.myDS.dt;
                $scope.PersonParty = $scope.model.GridViews.Emp.MainGrid.myDS.dt;
                @Html.RenderLookup("per", Model, Model.dsForm.Tables[0]);
                $scope.pmchangestate = function (id) {
                    $scope.pmState = [];
                    if (id) {
                        $.each($scope.dsCombo.SU, function (item, index) {
                            if (index.countrycode === id.countrycode) {
                                $scope.pmState.push(index);
                            }
                        });
                    }
                };
                $scope.prchangestate = function (id) {
                    $scope.prState = [];

                    if (id) {
                        $.each($scope.dsCombo.SU, function (item, index) {
                            if (index.countrycode === id.countrycode) {
                                $scope.prState.push(index);

                            }
                        });
                    }
                };
                $scope.visbacktoform = ($scope.model.frmMode == 2 ? false : true);

                //$scope.copycontent = function (row) {
                //    row.SelAddress = $scope.Campus.Address;
                //    row.SelCity = $scope.Campus.City;
                //    row.SelPinCode = $scope.Campus.Pincode;
                //    row.CountrySelected = $scope.Campus.CountrySelected;
                //    row.State = [];
                //    $.each($scope.dsCombo.SU, function (item, indext) {

                //        if (indext.countrycode === row.CountrySelected.countrycode) {

                //            row.State.push(indext);

                //        }
                //    });
                //    row.StateSelected = $scope.Campus.StateSelected;
                //    row.SelPhCountry = $scope.Campus.PhCountry;
                //    row.SelPhArea = $scope.Campus.PhArea;
                //    row.SelPhNum = $scope.Campus.Phnum;
                //    row.SelFaxCountry = $scope.Campus.FaxCountry;
                //    row.SelFaxArea = $scope.Campus.FaxArea;
                //    row.SelFaxNum = $scope.Campus.Faxnum;

                //    return false;
                //};

                $scope.pmchangestate($scope.per.PmCountrySelected);
                $scope.prchangestate($scope.per.PrCountrySelected);

                //Add new row in ng-repeat
                $scope.Addrow = function (val) {
                    // debugger;
                    $scope[val].push({});
                }
                //Delete row from ng-repeat

                $scope.delete = function (index, val) {
                    $scope[val].splice(index, 1);
                }
            };

            loadmodel($scope.model);

            // redirect back to Prospect List
            $scope.backtoprev = function () {
                //debugger;
                $scope.info = $scope.model.dsForm.DT[0];
                $scope.PropertyNameSelected = $scope.model.vBag.prospectlistid;
                var base = '/App/Link' + location.search;
                var payload = { fKey: 'frmProspectList', fMode: 'acEditM', IDX: $scope.PropertyNameSelected, rowData: JSON.stringify($scope.info) }; // for edit
                $.post(base, payload, function (result) {
                    $scope.status = 'loaded';
                    window.location = result;
                });
            }

            $scope.cleanupmodel = function (datamodel) { };

            $scope.calculatemodel = function () { };

            $scope.visdel = false;@Html.RenderFile("~/scripts/rsforms.js");
        });

    </script>
    <link href="~/Scripts/jquery-ui/jquery-ui.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jqueryui")
}

