@using risersoft.app.mxform.crm
@using risersoft.shared.web.Extensions

@model frmInBoundEmailModel
@{
    ViewData["Title"] = "InBound Email";
    Layout = "~/Views/Shared/_FrameworkLayout.vbhtml";
    var modelJson = Model.SerializeJson();
}

<link href="~/Scripts/jquery-ui/jquery-ui.css" rel="stylesheet" />

<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
<link href="~/Content/component-chosen.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.6/chosen.jquery.min.js"></script>

<style type="text/css">
    .input-group-addon {
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem 0rem 0rem 0.25rem;
    }


    .panel-heading {
        background-color: #1b7cd0;
        height: 40px;
    }

    .panel-body {
        margin-top: 20px;
    }

    .panel-title a {
        color: #fff !important;
    }

    .panel-heading {
        padding: 0;
        border: 0;
        display: block;
        padding: 7px 15px 7px 0px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 3px;
        text-decoration: none;
    }

        .panel-heading a:before {
            font-family: 'Glyphicons Halflings';
            content: "\e114";
            float: right;
            transition: all 0.5s;
            margin-right: 10px;
        }

        .panel-heading.active a:before {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            transform: rotate(180deg);
        }



    .customdiv {
        width: 100%;
    }


    .form-control {
        margin-bottom: 10px !important;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    label {
        margin-bottom: 0.1rem;
    }

    li {
        list-style: none;
    }
</style>

<div class="container cbackground">
    <form action="" method="post" name="userform" ng-controller="FormController">
        @Html.AntiForgeryToken()

        <input type="hidden" id="model_json" value='@Html.Raw(modelJson)' />
        <div Class="form-horizontal">
            <div class="container" style="padding-top: 15px;padding-bottom: 15px;">
                <div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11" style="padding-left:0px;">
                            <h4 style="color:#1c66a7">InBound Email</h4>
                        </div>
                    </div>
                </div>
            </div>

            <!--Inboundemail basic-->

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label labeltext">Name</label>
                            <input type="text" class="form-control" name="txtname" ng-model="Inboundemail.Name" />
                        </div>
                        <div class="col-md-5">
                            <label class="control-label labeltext">Status<span style="color:red">*</span></label>
                            <select class="form-control" name="ddlStatus" ng-model="Inboundemail.StatusSelected" ng-options="stat as stat.DisplayText for stat in Status.ValueListItems track by stat.DataValue" @*required ng-class="{true: 'error'}[submitted() && userform.ddlStatus.$invalid]"*@></select>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <label class="control-label labeltext">Username</label>
                            <input type="text" class="form-control" name="txtusername" ng-model="Inboundemail.EmailUser" />
                        </div>
                        <div class="col-md-5">
                            <label class="control-label labeltext">Password</label>
                            <input type="text" class="form-control" name="txtpassword" ng-model="Inboundemail.EmailPassword" />
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <label class="control-label labeltext">Email Template</label>
                            <select class="form-control" ng-model="Inboundemail.TemplateIDSelected" ng-options="email as email.Name for email in dsCombo.Template track by email.EmailTemplateID"></select>
                        </div>
                        <div class="col-md-5">
                            <label class="control-label labeltext">Filter Domain</label>
                            <input type="text" class="form-control" name="txtfiltername" ng-model="Inboundemail.FilterDomain" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-11">
                            <label class="control-label labeltext" style="visibility:hidden"></label>
                            <label class="form-control input-group-addon labeltext" style="background: transparent;border: none;padding-left:0px;padding: 0px;">
                                <input type="checkbox" name="chkdelseen" id="chkdelseen" ng-model="Inboundemail.DeleteSeen" style="width:20px;height:20px;vertical-align:middle;" /> &nbsp;Delete Seen
                            </label>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-11">
                            <label class="control-label labeltext" style="visibility:hidden"></label>
                            <label class="form-control input-group-addon labeltext" style="background: transparent;border: none;padding-left:0px;padding: 0px;">
                                <input type="checkbox" name="chkIsPersonal" id="chkIsPersonal" ng-model="Inboundemail.IsPersonal" style="width:20px;height:20px;vertical-align:middle;" /> &nbsp;Is Personal
                            </label>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-11">
                            <label class="control-label labeltext" style="visibility:hidden"></label>
                            <label class="form-control input-group-addon labeltext" style="background: transparent;border: none;padding-left:0px;padding: 0px;">
                                <input type="checkbox" name="chkreqtime" id="chkreqtime" ng-model="Inboundemail.MailBoxssl" style="width:20px;height:20px;vertical-align:middle;" /> &nbsp;Use SSL
                            </label>
                        </div>
                    </div>
                </div>
            </div>



            <!--Mailing Address Panel-->
            <div class="row">
                <div class="customdiv">
                    <div class="panel panel-default" id="accordion" role="tablist" aria-multiselectable="true">
                        <!--panel header-->
                        <div class="panel-heading active" role="tab" id="headingOne">
                            <div class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11" style="padding-left:25px;"> Mailing Address</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--Panel Body-->
                        <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="col-md-12">

                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">
                                            <label class="control-label labeltext"> Mail Server Address</label>
                                            <input type="text" style="max-width:540px !important;" ng-model="Inboundemail.ServerURL" class="form-control" />

                                        </div>

                                        <div class="col-md-3">
                                            <label class="control-label labeltext">Mail Server Port</label>
                                            <input type="text" style="max-width:540px !important;" class="form-control" numbers-only ng-model="Inboundemail.Port" />

                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label labeltext">Mail BoxType</label>
                                            <select class="form-control" ng-model="Inboundemail.MailBoxTypeSelected" ng-options="boxtype as boxtype.DisplayText for boxtype in mailboxtype track by boxtype.DataValue"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"><hr /></div>
                </div>
            </div>

            <!--Address-->
            <div class="row">
                <div class="customdiv">
                    <div class="panel panel-default" id="accordion3" role="tablist" aria-multiselectable="true">
                        <div class="panel-heading active" role="tab" id="heading3">
                            <div class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11" style="padding-left:25px;">   ADDRESS</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="heading3">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">
                                            <label class="control-label labeltext">Reply-To-Name</label>
                                            <input type="text" class="form-control" style="max-width:540px;" ng-model="Inboundemail.ReplyToName" />
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label labeltext">Reply-To-Address</label>
                                            <input type="text" class="form-control" style="max-width:540px;" ng-model="Inboundemail.ReplyToAddr" />
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label labeltext">From Name</label>
                                            <input type="text" class="form-control" style="max-width:540px;" ng-model="Inboundemail.FromName" />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">
                                            <label class="control-label labeltext">From Address</label>
                                            <input type="text" class="form-control" style="max-width:540px;" ng-model="Inboundemail.FromAddr" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"><hr /></div>
                </div>
            </div>
            <!--Assignment Panel-->
            <div class="row">
                <div class="customdiv">
                    <div class="panel panel-default" id="accordion2" role="tablist" aria-multiselectable="true">
                        <div class="panel-heading active" role="tab" id="heading2">
                            <div class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11" style="padding-left:25px;">Assignment</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        @*<div class="col-md-2">
                                                <input type="radio" ng-model="Selectedassig" name="rdoassin" value="User" checked /> User
                                            </div>
                                            <div class="col-md-2">
                                                <input type="radio" ng-model="Selectedassig" name="rdoassin" value="Team" /> Team
                                            </div>*@
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-sm-10">
                                            <label class="control-label labeltext">User :</label><br />
                                            <select id="multiple" name="emailTemp_mul" ng-model="Inboundemail.AssignUserIDSelected" class="form-control form-control-chosen" ng-options="item.UserName for item in dsCombo.User track by item.UserID" data-placeholder="Please select..." multiple></select>
                                        </div>
                                    </div>
                                    @*<div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-sm-10" ng-show="Selectedassig=='Team'">
                                                <label class="control-label labeltext">Team :</label><br />
                                                <select id="single" name="emailTemp_mul" ng-change="clearfields(EmailTemplate.AssignTeamIDSelected,'team')" ng-model="EmailTemplate.AssignTeamIDSelected" class="form-control form-control-chosen" ng-options="item.Name for item in dsCombo.Team track by item.TeamID" data-placeholder="Please select..."></select>
                                            </div>
                                        </div>*@

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"><hr /></div>
                </div>
            </div>

            <!--Button Div-->
            <div class="row">
                <hr />
            </div>
            <div class="row">
                @Html.Partial("_SavePanel")

            </div>
        </div>
    </form>
</div>


@section botscripts{
    <script>
        $('.panel-collapse').on('show.bs.collapse', function () {
            $(this).siblings('.panel-heading').addClass('active');
        });

        $('.panel-collapse').on('hide.bs.collapse', function () {
            $(this).siblings('.panel-heading').removeClass('active');
        });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            setInterval(function () {
                $(".my-datepicker").removeClass("my-datepicker").each(function () {
                    $(this).datepicker({ dateFormat: 'yy-mm-dd' });
                });
            }, 10);

            $('.form-control-chosen').chosen({
                // Chosen options here
                allow_single_deselect: false,
                width: '100%'
            });
        });

        rsApp.controller('FormController', function ($scope, $http) {

            $scope.model = JSON.parse($("#model_json").val());
            $scope.status = 'loaded';


            var loadmodel = function (result) {

                $scope.model = result;
                $scope.Inboundemail = $scope.model.dsForm.DT[0];
                $scope.ValueLists = $scope.model.ValueLists;
                $scope.dsCombo = $scope.model.dsCombo;
                $scope.mailboxtype = $scope.model.ValueLists.MailBoxType.ValueListItems;
                $scope.Status = $scope.model.ValueLists.Status;
                //$scope.tfddl = [{ value: true, name: 'Yes' }, { value: false, name: 'No' }]
                //debugger;
                //For delete button
                $scope.visdel = ($scope.frmMode == 2 ? false : true);

                $scope.GenerateDelPayload = function () {
                    var payload = { EntityKey: 'InboundEmail', ID: $scope.model.dsForm.DT[0].InboundEmailID, AcceptWarning: false };
                    return payload;
                };

                @Html.RenderLookup("Inboundemail", Model, Model.dsForm.Tables(0))


                // Multiple select-------

                $scope.Inboundemail.AssignUserIDSelected = $scope.model.GridViews.Team.MainGrid.myDS.dt;

            }

            loadmodel($scope.model)

            $scope.cleanupmodel = function (datamodel) {
                //debugger;
                //datamodel.GridViews.SOVal.MainGrid.myDS.dt = [];
            };

            $scope.calculatemodel = function () {
                //empty function
                $scope.model.GridViews.Team.MainGrid.myDS.dt = [];
                angular.forEach($scope.Inboundemail.AssignUserIDSelected, function (row) {
                    $scope.model.GridViews.Team.MainGrid.myDS.dt.push(row);
                })
            };


            //$scope.visdel = false;
            @Html.RenderFile("~/scripts/rsforms.js");
        });
    </script>

}






